body {
    background: #0b1220;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.card {
    background: #111c2f;
    padding: 20px;
    border-radius: 12px;
    width: 320px;
}

select, button {
    width: 100%;
    margin: 6px 0;
    padding: 8px;
}
