body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    text-align: center;
}

form {
    margin: 20px auto;
}

input, select, button {
    padding: 10px;
    margin: 5px;
}

.result {
    margin-top: 20px;
    font-size: 18px;
}
